<div class="dosDivisiones">
    <div class="cardsUser" *ngFor="let item of paraCard">
        <div class="forCardsUser">
            <div class="soloMargenInterno itemsAlCentro">
                <i [class]="item.icon"></i> <span class="ml-2"> {{item.who}}</span>
            </div>
            <div></div>
        </div>
    </div>
</div>