@import "../../shared/stylesComponents/variables.scss";
.cardsUser {
    //border: 1px solid crimson;
    width: 50%;
    min-height: 750px;
}

.forCardsUser {
    margin: 3% 15%;
    height: 18%;
    background-color: $colorNaranjaExikhan;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    color: white;
    font-size: calc(1.1em + 1.1vw);
    //border: 1px solid crimson;;
}

.soloMargenInterno {
    float: left;
    margin: 2.5%;
    width: 95%;
    height: 80%;
    border: 2px dashed white;
    align-items: center;
    border-radius: 10px;
}