@import "../../shared/stylesComponents/variables.scss";
.principal {
    position: fixed;
    width: 100%;
    height: 80%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-image: url(../../../assets/images/principales/continente.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    /* nada del contenedor se salga*/
    overflow: hidden;
}

.divSuperpuesta {
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    margin-top: 50%;
}

.tamanoCompleto {
    width: 100%;
    height: 100%;
    background-color: white;
    // border: 1px solid crimson;
}

.textoGrande {
    //border: 1px solid cadetblue;
    //width: 50%;
    background-color: white;
    //padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.2em;
    margin-top: 4%;
}

.imagenDivisionDos {
    border-radius: 0%;
}

.separaImagen {
    //border: 1px solid crimson;
    width: 100%;
    min-height: 500px;
    background-image: url(../../../assets/images/principales/continente2.jpg);
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat;
}