<section class="principal"></section>
<section class="divSuperpuesta"></section>
<div class="tamanoCompleto">
    <!-- <div class="lineaSeparadora"></div> -->
    <div class="row">
        <div class="col ml-5 textoGrande">
            Keep your customers happy by getting rid of repetitive tasks <span class="textoNaranja">.</span>
            <div class="itemsAlCentro mt-5">
                <button type="button" class="btn btn-outline-info btn-lg mt-1"> 
                    <i class="fas fa-chalkboard-teacher"></i> 
                    <span class="ml-2">Tutorial</span> 
                </button>
                <span class="ml-5"></span>
                <button type="button" class="btn btn-outline-light btn-lg botonesExikhan mt-1"> 
                    <i class="fas fa-laptop"></i> 
                    <span class="ml-2">Request Demo</span> 
                </button>
            </div>
        </div>
        <div class="col m-4">
            <img class="img-fluid imagenDivisionDos" src="assets/images/principales/imagenDivPrincipal.jpg" alt="">
        </div>
    </div>
    <div class="text-center">
        <app-atajo-tags-imagenes></app-atajo-tags-imagenes>
    </div>
    <div class="separaImagen"></div>
    <div class="container">
        <div class="itemsAlCentro mt-3">
            <h5 class="m-3">
                <p>Freight Forwarding Software for those who want to lead their business into a future of integrated systems and automated processes.</p>
            </h5>
        </div>
        <app-home-cards></app-home-cards>
    </div>
</div>