<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" href="#">
        <span class="ml-5">
            <div id="imagenLogo" class="exikhanNaranja"></div>
    </span>
    </a>
    <span class="ml-5"></span>
    <span class="ml-2"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link ml-3" routerLink="home"> Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link ml-3" routerLink="documentacion"> Documentation</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link ml-3" href="#"> Pricing</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-3 mb-1">
                <button type="button" class="btn btn-outline-light botonesExikhan"> <i class="fas fa-laptop"></i> <span class="ml-2">Request Demo</span> </button>
            </li>
            <li class="nav-item ml-3">
                <button type="button" class="btn btn-outline-secondary "> <i class="fas fa-laptop-house"></i> <span class="ml-2">Free Trial</span> </button>
            </li>

        </ul>
    </div>
</nav>