@import "../src/app/shared/stylesComponents/variables.scss";
.navbar {
    //background-color: transparent !important;
    font-size: 1.2em;
}

.colorNavbarScroll {
    background-color: white;
}

.exikhanNaranja {
    position: absolute;
    width: 140px;
    height: 30px;
    background-image: url(../src/assets/images/logos/exikhanLarge.png);
    background-repeat: no-repeat;
    margin-top: 1px;
}

.exikhanNegro {
    background-image: url(../src/assets/images/logos/exikhanBlack.png);
    margin: 0px;
}

.lineaSeparadora {
    // border-bottom: 3px solid #f3edea;
    border-bottom: 3px solid $colorNaranjaExikhan;
    margin: 0 15% 0 15%;
    border-radius: 2%;
}

.dosDivisiones {
    width: 100%;
    background-color: white;
    text-align: left;
    display: flex;
    //border: 1px solid crimson;
}

.botonesExikhan {
    border-color: $colorNaranjaExikhan;
    background-color: $colorNaranjaExikhan;
    color: white;
}

.botonesExikhan:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.botonesExikhan:focus,
.botonesExikhan:active,
.botonesExikhan:target {
    border-color: $colorNaranjaExikhan !important;
    background-color: white !important;
    color: $colorNaranjaExikhan !important;
    box-shadow: 0 0 10px $colorNaranjaSeleccion;
    transition: all 0.2s ease;
}

.itemsAlCentro {
    display: flex;
    justify-content: center;
}

.textoNaranja {
    color: $colorNaranjaExikhan;
}